###############################################################################
# Example configuration file for PosixBroker
###############################################################################

# Add some hosts to the peer list
add-host=mamba1:61870
add-host=mamba2:61870
add-host=mamba3:61870
add-host=mamba4:61870
add-host=mamba5:61870
add-host=mamba6:61870
add-host=mamba1:61871
add-host=mamba2:61871
add-host=mamba3:61871
add-host=mamba4:61871
add-host=mamba5:61871
add-host=mamba6:61871
add-host=mamba5:61872
add-host=mamba6:61872

# Specify device name followed by ':' followed by device type.
# Device type must now be specified - it is no longer optional!
#add-device=fid77:Fid

# The address used by the DGIs for communication.
address=0.0.0.0
port=61870

# Global verbosity. Higher is more output.
# See logger.cfg for verbosity levels and per-file configuration.
verbose=4

#adapter-config=config/adapter.xml
# Host and port that the PSCAD/RTDS client will connect to.

# Filename of the FPGA message specification.
# Used only when compiled with DUSE_DEVICE_RTDS=ON

# Force this DGI's UUID to the specified value, instead of relying on the 
# autogenerated UUID. Note that this option cannot be set by command line.
# Important: Each host's UUID must be unique.
#setuuid=36F3585E-F78C-4C52-AF8D-C6A78A27C831

#adapter-config=config/adapter.xml
#device-config=config/device.xml
#topology-config=config/topology.cfg
